[package]
name = "gpm"
version = "0.15.0"
authors = ["Jean-Marc Le Roux <jeanmarc.leroux@aerys.in>"]
edition = "2018"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
incremental = false
opt-level = "z"

[dependencies.gitlfs]
path = "./gitlfs"

[dependencies]
clap = "2.33.0"
tempfile = "3.1.0"
log = "0.4.8"
pretty_env_logger = "0.4.0"
git2 = "0.13.0"
url = "2.1.1"
tar = "0.4.26"
flate2 = "1.0.14"
rpassword = "5.0.1"
pest = "2.1.3"
pest_derive = "2.1.0"
regex = "1.3.6"
indicatif = "0.16.2"
console = "0.14.1"
crypto-hash = "0.3.4"
dirs = "3.0.2"
semver = "1.0.1"
dotenv = "0.15.0"
err-derive = "0.3.0"
termimad = "0.10.3"
crossterm = "0.19.0"
base64 = "0.13.0"
zeroize = "1.3.0"

[build-dependencies]
vergen = { version = "5.1.8", default-features = false, features = ["build"]}
anyhow = "1.0.40"
