[package]
name = "gpm"
version = "0.15.0"
authors = ["Jean-Marc Le Roux <jeanmarc.leroux@aerys.in>"]
edition = "2018"
resolver = "2"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
incremental = false
opt-level = "z"

[dependencies.gitlfs]
path = "./gitlfs"

[dependencies]
clap = "2.33.0"
tempfile = "3.1.0"
log = "0.4.8"
pretty_env_logger = "0.4.0"
git2 = "0.13.0"
url = "2.1.1"
tar = "0.4.26"
flate2 = "1.0.14"
rpassword = "4.0.5"
pest = "2.1.3"
pest_derive = "2.1.0"
regex = "1.3.6"
indicatif = "0.14.0"
console = "0.10.0"
crypto-hash = "0.3.4"
dirs = "2.0.2"
semver = "0.9.0"
dotenv = "0.15.0"
err-derive = "0.2.3"
termimad = "0.8.17"
crossterm = "0.16.0"

[build-dependencies]
vergen = "3.1.0"
