[package]
name = "gpm"
version = "0.11.2"
authors = ["Jean-Marc Le Roux <jeanmarc.leroux@aerys.in>"]
edition = "2018"

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
incremental = false
# We cannot use both lto = true and opt-level = "z" because of this bug:
# https://github.com/mitsuhiko/indicatif/issues/88
opt-level = "s"

[dependencies.gitlfs]
path = "./gitlfs"

[dependencies]
clap = "2.32.0"
tempfile = "3"
log = "0.4.6"
pretty_env_logger = "0.3.0"
git2 = "0.8.0"
url = "1.7.2"
ssh2 = "0.3"
json = "0.11.13"
reqwest = "0.9.11"
tar = "0.4.21"
flate2 = "1.0.6"
rpassword = "2.1.0"
pest = "2.1.0"
pest_derive = "2.1.0"
regex = "1"
indicatif = "0.11.0"
console = "0.7.5"
crypto-hash = "0.3.3"
dirs = "1.0.5"
semver = "0.9.0"
dotenv = "0.13.0"
